*,*::after,*::before{
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    font-family: 'Open Sans' , sans-serif;
}
.primary-color{
    background:#f28b00;
}
.text-primary-color{
    color:#f28b00;
}
button{
    all:unset;
}
.remove-default{
    
    text-decoration: none;
    
}
.remove-default-form{
    all: unset;
}
.circle{
    border-radius: 50%;
}
.search-input{
    width: 400px;
}
#allcat{
    position: absolute;
    left: 0;
    right: 0;
    top:55px;
    background: white;
    z-index: 9999;
}
.nav-bar .categories-bars .category-bar-item {
    padding: 5px 15px;
    border-bottom: 1px solid rgba(256, 256, 256, 0.1);
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    cursor: pointer;
}
.contact-no:hover{
    background: white;
    color:#f28b00 !important;
    font-weight: bold;

}
#navsupportcontent ul li a.active{
    color: white !important;
}
#navsupportcontent ul li a:hover{
    color: white ;
}
.hero-content h3{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
}
.hero-desc h1{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 4rem !important;
}
.carousel-controls button{
    all:unset;
    background: #f28b00;
    border-radius: 50%;
    padding: 10px 13px;
    color: white;
    font-size: 1rem;
}
@media (max-width:767px){
    .hero-desc h1{
    font-size: 2rem !important;
}
}
@media (max-width:1439px){
    .search-input{
    width: 200px;
}
}