*{
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    font-family: 'Open Sans' , sans-serif;
}
.primary-color{
    background:#f28b00;
}
.text-primary-color{
    color:#f28b00;
}
button{
    all:unset;
}
.remove-default{
    all:unset;
    text-decoration: none;
    
}
.circle{
    border-radius: 50%;
}
.search-input{
    width: 400px;
}
#allcat{
    position: absolute;
    left: 0;
    right: 0;
    top:55px;
    background: white;
    z-index: 9999;
}
.nav-bar .categories-bars .category-bar-item {
    padding: 5px 15px;
    border-bottom: 1px solid rgba(256, 256, 256, 0.1);
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    cursor: pointer;
}
.contact-no:hover{
    background: white;
    color:#f28b00;
    font-weight: bold;

}
#navsupportcontent ul li a.active{
    color: white !important;
}
#navsupportcontent ul li a:hover{
    color: white;
}
